<html>
    <head></head>
    <body>
        {% if isAdmin %}
        SCAIST{wh3n_g0d_cl0ses_4_d00r_h3_mu5t_0p3n_4n0th3r_w1nd0w}
        {% else %}
        <h1>Only admin (endswith @admin.scaist.com) can read the flag.</h1>
        <p>You cannot login as an admin. Ha! Ha!</p>
        {% endif %}

        <form method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
            <input type="submit" value="Login" />
        </form>
        {% if email != '' %}
        <p>
            {{ email }}
        </p>
        <a href="{{ url_for('change_email.setting') }}">Setting</a>
        {% endif %}
    </body>
</html>
