<html>
    <head></head>
    <body>
        <h1>Welcome to SCAIST!</h1>
        <ul>
            <li><a href="/free_flag" style="pointer-events: none;">/free_flag</a></li>
            <li><a href="/get_form">/get_form</a></li>
            <li><a href="/post_form">/post_form</a></li>
            <li><a href="/302">/302</a></li>
            <li><a href="/cookie">/cookie</a></li>
            <li><a href="/session">/session</a></li>
            <li><a href="/logic_flaw">/logic_flaw</a></li>
            <li><a href="/logic_flaw_number">/logic_flaw_number</a></li>
            <li><a href="/logic_flaw_lab">/logic_flaw_lab</a></li>
            <li>
                <a href="/broken_role"
                    >/broken_role</a
                >
            </li>
            <li><a href="/path_traversal">/path_traversal</a></li>
            <li><a href="/command_injection">/command_injection</a></li>
            <li><a href="/ssrf">/ssrf</a></li>
        </ul>
    </body>
</html>
