<html>
    <head></head>
    <body>
        {% if amount > 100 %}
        SCAIST{n3671v3_dr1nk5!}
        {% else %}
        <h1>Only who have more than 100$ can read the flag.</h1>
        {% endif %}
        <p>You have {{ amount }}$</p>

        <h1>Buy dome drinks! (costs 10$)</h1>

        <form method="post">
            <label for="count">Count</label>
            <input type="number" name="count" id="count" />
            <input type="submit" value="Buy" />
        </form>
    </body>
</html>
