<html>
    <head></head>
    <body>
        {% if amount > 100 %}
        SCAIST{wh3n_60d_cl0535_4_d00r.h3_mu57_0p3n_4n07h3r_w1nd0w.}
        {% else %}
        <h1>Only who have more than 100$ can read the flag.</h1>
        {% endif %}
        <p>You have {{ amount }}$</p>

        <h1>Buy dome drinks!</h1>

        <form method="post">
            <label for="count">Count</label>
            <input type="number" name="count" id="count" />
            <input type="submit" value="Buy" />
        </form>
    </body>
</html>
